html, body {
    height: 100%;
    position: relative;
    background: grey url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-blend-mode: multiply;
}

label {
	color: #ffffff;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.centering {
	position: absolute;
	left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) 
}

.centering-x {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.hidden {
	opacity: 0;
}

#overlay {
	background-color: black;
	position: fixed;
	height: 100%;
	width: 100%;
}

#main-menu {
    position: relative;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 1;
    max-width: 250px;
}

.main-menu-item {
    background-color: rgb(0,0,0,0.3);
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    margin: 0 0 20px 0;
    height: 35px;
    -webkit-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
}

.main-menu-item label {
    -webkit-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
}

#title {
    position: absolute;
    text-align: center;
    top: 7.5%;
    left: 50%;
    transform: translate(-50%, -50%) 
}

#area {
	width: 75%;
	min-width: 500px;
	height: 95%;
	border: 1.5px solid #ffffff;
	border-radius: 10px;
	overflow: hidden;
}

#content {
    position: relative;
    height: 90%;
    width: 90%;
}

.title {
	display: inline-block;
	position: relative;
	left: 50%;
	transform: translate(-50%);
	font-weight: 300;
	font-size: 20px;
}

.sel-menu {
    position: relative;
    display: -moz-box;
    display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 15px 0;
    padding: 10px 0;
    transition: background-color 0.25s linear;
}

.game-sel-menu-item {
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    background-color: rgb(0,0,0,0);
    color: white;
    -webkit-transition: color 0.15s linear, background-color 0.15s linear, border 0.15s linear;
    padding: 0 15px;
}

.game-sel-menu-item:hover {
	border: solid 1.5px rgb(255,255,255,0.5);
}

.tool-sel-menu-item {
    position: relative;
    white-space: nowrap;
    border-radius: 10px;
    border: 1.5px solid #ffffff;
    line-height: 35px;
    -webkit-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    background-color: rgb(0,0,0,0);
    color: white;
    -webkit-transition: color 0.15s linear, background-color 0.15s linear, border 0.15s linear;
    padding: 0 15px;
}

.tool-sel-menu-item:hover {
	border: solid 1.5px rgb(255,255,255,0.5);
}

.menu-item-selected {
	background-color: rgb(255,255,255, 0.8);
	color: black;
}

.sel-menu-item label {
    -webkit-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 84px -8px rgba(0,0,0,0.75);
}

#piano-wrapper {
	position: absolute;
	overflow-x: auto;
	height: 130px;
	width: 100%;
	margin: 20px 0;
	transition: background-color 0.25s linear;
}

#piano-wrapper::-webkit-scrollbar-track
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #aeaeae;
}

#piano-wrapper::-webkit-scrollbar
{
	border-radius: 10px;
	height: 6px;
	background-color: #aeaeae;
}

#piano-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #FFFFFF;
}

#piano {
	position: absolute;
	width: 859.5px;
	left: 0;
	right: 0;
	margin: auto;
}

#piano-white {
	position: absolute;
	display: flex;
}

#piano-black {
	position: absolute;
	display: flex;
	margin: 0 7.25px;
}

.piano-key-white {
	background-color: rgba(255,255,255,0.5);
    border: 1.5px solid #ffffff;
    border-right-width: 0.75px;
    border-left-width: 0.75px;
    height: 90px;
    width: 15px;
    -webkit-transition: background-color 0.15s linear;
}

.piano-key-black {
	background-color: #404040;
    border: 1.5px solid #ffffff;
    border-right-width: 0.75px;
    border-left-width: 0.75px;
    height: 45px;
    width: 15px;
    z-index: 1;
    -webkit-transition: background-color 0.15s linear;
}

.piano-key-white:hover {
	background-color: rgba(255,255,255,0.75);
}

.piano-key-black:hover {
	background-color: #202020;;
}

#piano-info {
	position: absolute;
	display: flex;
	top: 93px;
	color: white;
	text-align: center;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 27px;
}

.piano-octaves {
	border-left: 0.75px solid #ffffff;
	border-right: 0.75px solid #ffffff;
	height: 25px;
	width: 114px;
}

#btn-check-range {
	text-align: center;
	top: 410px;
}

#btn-check-range:hover {
	text-decoration: underline;
}

#info {
	text-align: center;
	top: 300px;
    font-size: 25px;
    font-weight: 300;
}

#info-try-again:hover {
	text-decoration: underline;
}

#add-sel-menu {
    position: absolute;
    top: 460px;
}

#count-sel-menu-input {
    margin-left: 10px;
    width: 25px;
    background-color: rgb(0,0,0,0);
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    height: 20px;
    color: white;
    padding: 0 10px;
    text-align: center;
    transition: background-color 0.15s linear;
}

#timer-sel-menu-input {
    margin-left: 10px;
    width: 25px;
    background-color: rgb(0,0,0,0);
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    height: 20px;
    color: white;
    padding: 0 10px;
    text-align: center;
    transition: background-color 0.15s linear;
}

#btn-start {
	position: absolute;
	text-align: center;
	bottom: 0;
	font-size: 20px;
	border-radius: 10px;
    border: 1.5px solid #ffffff;
    line-height: 50px;
    transition: border 0.15s linear;
}


.btn-start-hover:hover {
	border: solid 1.5px rgb(255,255,255,0.5) !important;
}

#btn-check-range:hover {
	text-decoration: underline;
}

#game-params {
    top: 170px;
    display: flex;
    justify-content: space-between;
}

#count-game-params {
    display: grid;
    text-align: right;
}

#timer-game-params {
    display: grid;
}

#voice-wrapper {
    position: absolute;
    overflow-x: auto;
    width: 100%;
    bottom: 0;
    height: 65px;
    overflow: visible;
    /*background: linear-gradient(to right, red 0, yellow 25%, green 50%, yellow 75%, red 100%);*/
}

#voice-wrapper-block {
    display: flex;
}

#voice-wrapper-info {
    display: flex;
}

.voice-wrapper-ind {
    height: 20px;
    width: 100%;
}

.voice-block {
    height: 7px;
    width: 20%;
    border-left: solid 0.75px #ffffff; 
    border-right: solid 0.75px #ffffff;
}

.voice-info {
    line-height: 25px;
    text-align: center;
    border-left: solid 0.75px #ffffff; 
    border-right: solid 0.75px #ffffff;
    width: 20%;
    transition: background-color 0.25s linear;
}

#voice-slider-triangle {
    position: absolute;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 20px solid white;
}

#voice-slider-circle {
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    border-radius: 50%;
}

#voice-slider {
    height: 33px;
    width: 20px;
    position: relative; 
    transform: translate(-50%);
    transition: opacity 0.15s ease-in;
}

#interval-wrapper {
    height: 105px;
    border: 1.5px solid #ffffff;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.interval {
    border: 1.5px solid #ffffff;
    border-radius: 5px;
    padding: 10px 5px;
    margin: 4px 4px;
    transition: color 0.15s linear, background-color 0.15s linear, border 0.15s linear;
}

.interval:hover {
    border: solid 1.5px rgb(255,255,255,0.5);
}

.interval-selected {
    background-color: rgb(255,255,255, 0.8);
    color: black;
}

#repeat {
    width: 25px;
    margin-top: 5px;
    transition:all 1s ease ;
}

#box-wrapper {
    height: 140px;
    background-image: url(../img/block.jpg);
    background-size: cover;
    border-radius: 10px;
    opacity: 0.5 !important;
}

#exit {
    position: absolute;
    top: 10px;
    right: 10px;
    transition:all 1s ease ;
}

#exit:hover {
     transform: rotate(180deg);
}

#back {
    position: absolute;
    width: 30px;
    top: 15px;
    right: 55px;
}

#sound-detector {
    width: 65px;
    top: 80px;
}

#cross {
    position: absolute;
    top: 10px;
    right: 10px;
    transition:all 1s ease ;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

#volume-wrapper {
    display: grid;
}

#volume {
    margin: 20px auto;
}

#about {
    width: 80%;
    text-align: center;
    white-space: normal;
}

#progress-bar {
    width: 80%;
    border: 1.5px solid rgb(255,255,255,0.25);
    top: 160px;
    height: 5px;
    border-radius: 5px;
    overflow: hidden;
}

#progress-bar-filler {
    height: 5px;
    width: 0;
    background: rgb(255, 255, 255, 0.5);
}